body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  #logo-container {
    text-align: center;
  }

  #HaulersUnitedLogo {
    display: block;
    margin: 0 auto;
  }

  #tool-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  
  #discount-tool {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1A73E8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(26, 115, 232, 0.3);
    background-color: white;
  }
  
  #discount-tool h2 {
    color: #1A73E8;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #route-addresses label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #route-addresses input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1A73E8;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #discount-tool button {
    width: 60%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1A73E8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #map-container {
    margin-top: 20px;
    width: 60%;
    height: 500px;
  }
  
  #map {
    width: 100%;
    height: 500px;
  }
  